// mod the wrapper to only provide the edge's safety padding
.wrapper {
  max-width: 100%;
  margin-right: 0;
  margin-left: 0;
  padding-right: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
  @extend %clearfix;

  @media screen and (min-width: $on-large) {
    max-width: 100%;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
  }
}

// modify all content elements to be $content-width
.wrapper > * > * {
  max-width: calc(#{$content-width} - (#{$spacing-unit}));
  margin-right: auto;
  margin-left: auto;
  @extend %clearfix;

  @media screen and (min-width: $on-large) {
    max-width: calc(#{$content-width} - (#{$spacing-unit} * 2));
  }
}

// exempt .wide things and give them $content-width-extrawide instead
.wrapper > * > .wide {
  max-width: calc(#{$content-width-extrawide} - (#{$spacing-unit}));
  @media screen and (min-width: $on-large) {
    max-width: calc(#{$content-width-extrawide} - (#{$spacing-unit} * 2));
  }
}

// SVG characteristics
.svg {
  display: block;
  height:100%;
  width:100%;
  border:1px solid #777777;
  margin-bottom: 15px;
}
